* {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
}
body {
  background-color: #666666;
}

/* main h1 */
h1 {
  font-size: 60px;
  font-weight: bold;
  color: rgb(212, 212, 212);
  border-bottom: 1px solid;
  text-shadow: rgba(19, 19, 19, 0.89) 1px 5px 10px;
}

/* REGISTER */
.register-form .error {
  color: red;
}

.register-form .success {
  color: green;
}

.register-container {
  width: 100%;
  height: 100ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

form.register {
  padding: 20px;
  background-color: rgb(187, 184, 184);
  display: flex;
  width: 330px;
  gap: 10px;
  flex-direction: column;
  grid-template-columns: 30% 70%;
  border: 0.1em black solid;
}

.register-form div{
  display: flex;
  width: 100%;
}

.register-form p{
  display: inline;
  width: 50%;
  margin-bottom: 3px;
  align-self: center;
}

.register-form .error{
  width: 100%;
  color: rgb(192, 61, 57);
  font-weight: bolder;
}

.register-form .success{
  width: 100%;
  color: rgb(6, 153, 67);
  font-weight: bolder;
}

.register-form input {
  width: 100%;
}

.register-form #mui-3{
  position: relative;
  right: 8px;
  width: 100% !important;
}

form.register .MuiInputAdornment-positionEnd {
  width: 10%;
}

.register-button  button {
  align-items: center;
  appearance: none;
  background-color: rgb(194, 193, 193);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#a5a5a5 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 13px;
  padding-right: 13px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
}

.register-button  button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #a5a5a5 0 -3px 0 inset;
}

.register-button  button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #a5a5a5 0 -3px 0 inset;
  transform: translateY(-2px);
}

.register-button button:active {
  box-shadow: rgb(134, 134, 134) 0 3px 7px inset;
  transform: translateY(2px);
}

.register-button {
  position: relative;
  left: 75.5%;
  align-self: flex-end;
}

/* LOGIN */
.login-form .error {
  color: red;
}

.login-form .success {
  color: green;
}

.login-container {
  width: 100%;
  height: 100ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

form.login {
  padding: 20px;
  background-color: rgb(187, 184, 184);
  display: flex;
  width: 330px;
  gap: 10px;
  flex-direction: column;
  grid-template-columns: 30% 70%;
  border: 0.1em black solid;
}

.login-form div{
  display: flex;
  width: 100%;
}

.login-form p{
  display: inline;
  width: 50%;
  margin-bottom: 3px;
  align-self: center;
}

.login-form .error{
  width: 100%;
}

.login-form input {
  width: 100%;
}

form.login .MuiInputAdornment-positionEnd {
  width: 10%;
}

.login-button button, .new-data-button button {
  align-items: center;
  appearance: none;
  background-color: rgb(194, 193, 193);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#a5a5a5 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 13px;
  padding-right: 13px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
}

.login-button.disabled button {
  color: #9700006e;
  background-color: rgba(253, 0, 0, 0.075);
  box-shadow: rgba(45, 35, 66, 0.1) 0 2px 4px,rgba(45, 35, 66, 0.1) 0 7px 13px -3px,#a5a5a5 0 -3px 0 inset;
}

.login-button.active button:focus, .new-data-button button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #a5a5a5 0 -3px 0 inset;
}

.login-button.active  button:hover, .new-data-button button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #a5a5a5 0 -3px 0 inset;
  transform: translateY(-2px);
}

.login-button.active button:active, .new-data-button button:active {
  box-shadow: rgb(134, 134, 134) 0 3px 7px inset;
  transform: translateY(2px);
}

.login-button {
  position: relative;
  left: 75.5%;
  align-self: flex-end;
}